{% extends 'base.html' %}

{% block header %}
	<header>
		<h1>Ольга Сандыга</h1>
	</header>
{% endblock header %}

{% block content %}
	<p>Это всё про меня</p>
	<div class="mx-auto" style="width: auto; display: block;">
		<div class="row row-cols-1 row-cols-md-4 g-2" style='width: auto; margin-left: 0.5rem; margin-right: 0.5rem;'>
				{% for post in object_list %}
					<div class="col" style='width: auto;'>
						<div class='card text-center' style="width: 10rem; height: 15rem;">
							<div class='card-body'>
								<h5 class='card-title'><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h5>
								<p class='card-text'>{{ post.text }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}