{% extends 'base.html' %}

{% block header %}
	<header>
		<h1>Ольга Сандыга</h1>
	</header>
{% endblock header %}

{% block content %}
	<p>Это всё про меня</p>
	<div class="content">
		{% for post in object_list %}
			<div class='card text-center'>
				<div class='card-body'>
					<h5 class='card-title'><a href="{{ post.resource_url }}" class='nav-link'>{{ post.title }}</a></h5>
					<p class='card-text text-start lh-1 text-black-50 fw-lighter'>{{ post.body }}</p>
					<a href="{{ post.resource_url }}" class="btn btn-light btn-md" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .9rem;">{{ post.resource_name }}</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock content %}